/*
#  ·················
#  ··_______________
#  ·/·___/·___/·___/
#  /·/__(__··|__··)·
#  \___/____/____/··
#  ·················
*/

/*------ Variables */
:root{
  /*------ Colores */
  --green-color: #7ACC2D;
  --black-color: #313337;
  --white-color: white;
  /*------ Tipografía */
  --normal:12px;
  /*------ Espaciado */
  --space-1:10px;
  --space-2:20px;
  /*------ box */
  --box-1:0px 0 2px 1px #e6e5e9
  
}

/* -------------------------------------------  */
html,body{
  margin:0;
  padding: 0;
  font-family: Helvetica;
  color: var(--black-color);
}

p, label{
  font-size: var(--normal);
}
.social-media{
  width: 300px;
  height: auto;
  display: flex;
  justify-items: flex-end;
  align-items: center;
  justify-content: space-between;
  justify-self: end;
}
.social-media a{
  display: inline;
  text-decoration: none;
  color: white;
  align-self: center;
  /* width: 100%; */

}
.social-media .flaticon-001-facebook {
  background-image: url("../images/facebook.svg");
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  background-size: 50px 50px;
}
.flaticon-002-gmail {
  background-image: url("../images/gmail.svg");
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  background-size: 50px 50px;
}
.flaticon-003-whatsapp{
  background-image: url("../images/whatsapp.svg");
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  background-size: 50px 50px;
}
.flaticon-011-instagram {
  background-image: url("../images/instagram.svg");
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  background-size: 50px 50px;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: var(--space);
  min-height: 60px;
  background-color: var(--green-color);
}

nav a{
  text-decoration: none;
  color: var(--black-color);
  font-size: var(--normal);
}

nav a:hover{
  color: var(--white-color);
}

nav ul {
  display: flex;
}
nav ul .carrito{

}
nav ul .carrito p{
  margin: 0 0 0 5px;


}
nav ul .carrito a{
  justify-content: center;
}
.carro-de-la-compra{
  background-image: url("../images/carro-de-la-compra.svg");
  display: inline-block;
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-repeat: no-repeat;

}

nav ul li{
  padding-right: 20px;
  list-style: none;
  align-self: center;
}

hr{
  opacity: .2;
}

/* ------------------------------------------- MAIN SECTION */

.main_section{
  text-align: center;
  padding: 15%;
}

/* -------------------------------------------  PRODUCTOS */


.products{
  background-image: url("../images/curve.png");
  padding: 15%;
  background-position: center top;
  background-repeat: no-repeat;
  display: flex;
  height: 95px;
  background-size: cover;

}

.product{
  padding: 20px;
  margin-top: -226px;
}

.image-product{
  text-align: center;
}

.content{
  padding: 20px;
  background: var(--white-color);
  border-radius: 3px;
  box-shadow: 0px 0 2px 1px #e6e5e9;
}

.main_btn{
  height: 35px;
  padding: var(--space);
  background-color: var(--green-color);
  width: 100%;
  border: 0px solid var(--black-color);
  border-radius: 2px;
  cursor: pointer;
  color: var(--white-color);
}
.main_btn:hover{
  background-color: #63a426;
}

/* Beneficios */
.beneficios{
  padding: 10%;
  display: flex;
}

.beneficio{
  text-align: center;
  padding: 20px;
}

.beneficio img{
  max-height: 100px
}

.text_beneficio{
  text-align: justify;
}

/* Mentions */
.mentions{
  display: flex;
  padding: 5%;
}
.mention img{
  width: 100%;
}
h2.mention_title{
  text-align: center;
}
.mention{
  padding: var(--space);
}
.content_mention{
  box-shadow: 0px 0 2px 1px #e6e5e9;
}
.mention .text{
  padding: var(--space);
}

/* aqui comienzan las ventas  */

.modulo_pago {
  background-color: var(--white-color);
  box-shadow: var(--box-1);
  padding: var(--space-1);
}

.modulo_pago_images{
  max-width: 150px;
  align-items: center;
  width: 100%;
  margin: auto;
  /* padding: 10%; */
}

.data {
  border-radius: 2px;
  border: 1px solid var(--black-color);
  width: 100%;
  margin-top: 10px;
  height: 35px;
  box-sizing: border-box;
}
  .modulo_pago .main_btn {
    margin-top: 10px;
    height: 35px;
  }

/* ------------------------------------------- Footer */
footer{
  height: 200px;
  display: inline-flex;
  justify-content: space-between;
  font-size: var(--normal);
  background-color: var(--black-color);
  padding: var(--space);
  color: var(--white-color);
  width: 100%;
}
.footer-input{
  display: flex;
  justify-content: center;
  align-items: center;

}
.footer-input a{
  color: white;
  text-decoration: none;
}
.footer-input li {
  list-style: none;
  margin: 20px 0 20px 0;
}
.option_contac a {
  
  margin-right: 15px;
  color: var(--green-color);
}
